extends layout.pug
include utils.pug

block content
    +errorSummary(errors)

    form(action='/park/add' method='post')
        include park-form-fields.pug
        button(type='submit') Add Park
        a(href='/') Cancel
